<main id="main">
    <section id="welcome">
        <h1 class="text-main">
            Hi there, I'm Hannah
        </h1>
        <div class="text-sub">
            a front-end developer
        </div>
    </section>

    <section id="projects">
        <div class="text-main">These are my projects</div>
        <div class="project-tile">
            <a href="https://codepen.io/hannahnajwa/full/QWjZbPy" target="_blank" class="project-link">
                <div class="project-title">Tribute Page</div>
            </a>
        </div>

        <div class="project-tile">
            <a href="https://codepen.io/hannahnajwa/full/RwWevyB" target="_blank" class="project-link">
                <div class="project-title">Product Landing Page</div>
            </a>
        </div>

        <div class="project-tile">
            <a href="https://codepen.io/hannahnajwa/full/oNjQNoJ" class="project-link">
                <div class="project-title">Documentation</div>
            </a>
        </div>
    </section>

    <section id="contact">
        <p id="text-main">Let's Communicate</p>
        <div class="icons">
            <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter fa-3x"></i>
            </a>

            <a id="profile-link" href="https://www.github.com/hannah-mazri" target="_blank">
                <i class="fab fa-github fa-3x"></i>
            </a>

            <a href="mailto:hannahnajwa@gmail.com">
                <i class="fab fa-envelope fa-3x"></i>
            </a>
        </div>
    </section>
</main>